
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-1-element-24{
	opacity:0.7;
}
.depicter-revert .depicter-1-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-24:not(.depicter-hover-off):hover {
	transform:scale(0.9);
}
.depicter-1-element-24 .depicter-arrow-icon{
	fill:#080E2F;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-26{
	opacity:1;
}
.depicter-revert .depicter-1-element-26:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-26:not(.depicter-hover-off):hover {
	transform:scale(0.9);
}
.depicter-1-element-26 .depicter-arrow-icon{
	fill:#080E2F;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-292{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-292:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-291{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-291:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-289{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-269{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-279{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-278{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-277{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-290{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-288{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-276{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-275{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-284{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-274{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-273{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-272{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-271{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-270{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-287{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-286{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-285{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-285:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-285:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-283{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-268 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-467{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-467:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-466{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-466:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-464{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-444{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-454{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-452{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-465{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-463{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-451{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-459{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-449{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-448{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-447{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-446{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-445{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-462{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-461{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-460{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-460:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-460:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-458{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-443 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-492{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-492:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-491{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-491:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-489{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-469{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-479{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-478{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-477{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-490{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-488{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-476{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-475{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-484{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-474{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-473{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-472{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-471{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-470{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-487{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-486{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-485{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-485:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-485:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-483{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-468 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-517{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-517:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-516{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-516:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-514{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-494{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-504{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-503{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-502{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-515{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-513{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-501{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-500{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-509{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-499{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-498{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-497{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-496{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-495{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-512{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-511{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-510{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-510:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-510:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-508{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-493 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-542{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-542:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-541{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-541:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-539{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-519{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-529{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-528{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-527{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-540{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-538{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-526{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-525{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-534{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-524{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-523{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-522{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-521{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-520{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-537{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-536{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-535{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-535:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-535:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-533{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-518 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-567{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-567:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-566{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-566:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-564{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-544{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-554{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-553{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-552{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-565{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-563{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-551{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-550{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-559{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-549{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-548{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-547{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-546{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-545{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-562{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-561{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-560{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-560:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-560:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-558{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-543 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-592{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-592:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-591{
	font-size:13px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	background-color:#0662a9;
	border-radius:10px 0px 0px 10px;
}
.depicter-revert .depicter-1-element-591:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-589{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-569{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-579{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-578{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-577{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-590{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-588{
	font-size:15px;
	text-align:center;
	color:#000000;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	text-transform:uppercase;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-576{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-575{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-584{
	font-size:15px;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-574{
	font-size:15px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-573{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-572{
	opacity:1;
	font-size:15px;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-571{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-570{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-587{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-586{
	background-color:#B3B3B3;
}
.depicter-revert .depicter-1-element-585{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:400;
	text-transform:capitalize;
	background-color:#0662a9;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-585:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-585:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-583{
	font-size:70px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-568 .depicter-section-background{
	background-color:transparent;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-290{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-288{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-283{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-465{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-463{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-458{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-490{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-488{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-483{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-515{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-513{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-508{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-540{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-538{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-533{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-565{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-563{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-558{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-590{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-588{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-583{
	font-size:50px;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-292{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-291{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-279{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-278{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-277{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-290{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-288{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-275{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-284{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-274{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-273{
	opacity:1;
}
.depicter-revert .depicter-1-element-272{
	opacity:1;
}
.depicter-revert .depicter-1-element-283{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-467{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-466{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-454{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-452{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-465{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-463{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-459{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-449{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-448{
	opacity:1;
}
.depicter-revert .depicter-1-element-447{
	opacity:1;
}
.depicter-revert .depicter-1-element-458{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-492{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-491{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-479{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-478{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-477{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-490{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-488{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-475{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-484{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-474{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-473{
	opacity:1;
}
.depicter-revert .depicter-1-element-472{
	opacity:1;
}
.depicter-revert .depicter-1-element-483{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-517{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-516{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-504{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-503{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-502{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-515{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-513{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-500{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-509{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-499{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-498{
	opacity:1;
}
.depicter-revert .depicter-1-element-497{
	opacity:1;
}
.depicter-revert .depicter-1-element-508{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-542{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-541{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-529{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-528{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-527{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-540{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-538{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-525{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-534{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-524{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-523{
	opacity:1;
}
.depicter-revert .depicter-1-element-522{
	opacity:1;
}
.depicter-revert .depicter-1-element-533{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-567{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-566{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-554{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-553{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-552{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-565{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-563{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-550{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-559{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-549{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-548{
	opacity:1;
}
.depicter-revert .depicter-1-element-547{
	opacity:1;
}
.depicter-revert .depicter-1-element-558{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-592{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-591{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Inter";
	font-weight:600;
}
.depicter-revert .depicter-1-element-579{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-578{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-577{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-590{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-588{
	transform:rotate(90deg);
}
.depicter-revert .depicter-1-element-575{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:600;
	line-height:120%;
	text-transform:uppercase;
}
.depicter-revert .depicter-1-element-584{
	font-size:13px;
	text-align:center;
	color:#4b423e;
	font-family:"Inter";
	font-weight:400;
	line-height:140%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-574{
	font-size:14px;
	color:#000000;
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-573{
	opacity:1;
}
.depicter-revert .depicter-1-element-572{
	opacity:1;
}
.depicter-revert .depicter-1-element-583{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Hind Siliguri";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}

}
